<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Luoresepti</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>

        <style>
            html,
            body {
                height: 100%;
                background: rgb(245,235,242);
                background: radial-gradient(circle, rgba(245,235,242,1) 13%, rgba(241,177,205,1) 99%);
                background-repeat: no-repeat; 
                background-size:cover;
            }
        </style>
    </head>

    <body>
        <div class="d-flex justify-content-center align-items-center" style="height:600px; background-color: transparent;">  
            <div> 
                <form action="#" th:action="@{/luoresepti}" th:object="${resepti}" method="POST">

                    <div style="flex-direction: column;"> 
                        <h1 style="color: darkgrey">Reseptin luonti</h1>    
                        </br><label> Reseptin Nimi: </label>
                        <input type="text" placeholder="Reseptin nimi" th:field="*{reseptinNimi}"/>

                        </br><label>Ruokalaji: </label>
                        <select th:field="*{ruokalaji}">
                            <option value="paaruoka"> Pääruoka </option>
                            <option value="lisuke"> Lisuke </option>
                            <option value="alkupala"> Alkupala </option>
                            <option value="keitto"> Keitto </option>
                            <option value="salaatti"> Salaatti </option>
                            <option value="jalkiruoka"> Jälkiruoka </option>
                            <option value="juoma"> Juoma </option>
                        </select>

                        </br><label>Ainekset: </label></br>
                        <textarea  rows="4" cols="50" type="text" placeholder="Ainekset" th:field="*{aineOsat}"> </textarea>


                    </div>

                    <div style="flex-direction: column;">
                        </br><label> Annoskoko: </label>
                        <input style="width: 4em" type="number" placeholder="Annoksen koko" th:field="*{annosKoko}"/>
                        </br><label>Valmistusaika minuutteina: </label>
                        <input style="width: 4em" type="number" placeholder="Valmistusaika" th:field="*{valmistusAika}"/>
                        </br><label>Valmistusohje: </label></br>
                        <textarea rows="4" cols="50" type="text" placeholder="Valmistusohje" th:field="*{valmistusOhje}"/>
                    </div>

                    <div>
                        <input type="radio" id="helppo" th:field="*{vaikeusTaso}" value="helppo"/>

                        <label for="helppo">Helppo</label>
                        <input type="radio" id="keskivaikea" th:field="*{vaikeusTaso}" value="keskivaikea"/>
                        <label for="keskivaikea">Keskivaikea</label>
                        <input type="radio" id="vaikea" th:field="*{vaikeusTaso}" value="vaikea"/>
                        <label for="vaikea">Vaikea</label>
                    </div>

                    <input type="submit" value="Luo Resepti"/>
                    <a href="/etusivu"><button type="button" class="btn btn-dark">Etusivulle</button></a>  
                </form>
            </div>
        </div>
    </body>
</html>